{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}

<div class="container ">
    <h2 class="row justify-content-center my-4 border-3 border-success border-bottom">My Cart</h2>
    <div class="col justify-content-center">
    <table class="table ">
        <tr>
            <th>Product name</th>
            <th></th>
            <th>Price</th>
            <th>Quantity</th>
            <th>TOTAL </th>
            <th>ACTION </th>
        </tr>
        {% for cartItem in cart.cartItems %}
            <tr class="" id="{{ cartItem.id }}">
                <td>{{ cartItem.product.name }}</td>
                <td><img src="{{ asset('images/'~cartItem.product.image) }}" style="height: 40px"/></td>
                <td >{{ cartItem.product.price }} RON</td>
                <td>
{#                    <form action="{{ url('cart_update', {'product':cartItem.product.id}) }}" method="post" id="updateQty">#}
                    <form  method="post" id="updateQty-{{ cartItem.id }}">
                        <input hidden id="cartItemId" name="cartItemId" value="{{ cartItem.id }}">
                        <input hidden id="itemPrice-{{ cartItem.id }}" value="{{ cartItem.product.price }}">
                        <input class="qty" id="quantity-{{ cartItem.id }}" name="quantity" type="number" min="1" max="100" value="{{ cartItem.quantity }}">
                        pcs
                        <button class="btn btn-outline-info" type="submit" >Update</button>
                    </form>
                </td>

                <td>
                    <div class="w-50">
                        <div class=" totalItem" id="totalItem-{{ cartItem.id }}" value="{{ cartService.getCartItemTotal(cartItem) }}"> {{ cartService.getCartItemTotal(cartItem) }} RON</div>
                    </div>
                </td>
                <td>
                    <div class="btn btn-outline-danger deleteCartItem" id="deleteCartItem-{{ cartItem.id }}" href="">
                        Delete
                    </div>
                </td>
            </tr>



        {% endfor %}
        <tr>
            <th>Grand total: </th>
            <th></th>
            <th></th>
            <th></th>
            <th>
                <div class="" id="grandTotal" value="{{ cartService.getCartTotal() }}">{{ cartService.getCartTotal() }} RON</div>
            </th>
        </tr>
    </table>
    </div>
    <a class="btn btn-outline-danger" href="{{ url('cart_empty') }}">Empty</a>
    <div><a class="btn btn-outline-info text-dark my-3" href="{{ url('cart_checkout') }}">Continue</a></div>
</div>

    <script>
        $(document).ready(function() {
            $('.qty').change(function(){
                let itemId = $(this).attr('id').slice(9)
                let itemPrice = $('#itemPrice-' + itemId).val()
                let qty = $(this).val()

                let total = $(this).val() * itemPrice
                $('#totalItem-' + itemId).text(total + ' RON')

                $.ajax({
                    url: "{{ url('cart_update_product_quantity') }}"  + '/' + itemId + '/' + qty ,
                    type: "post",
                });
                let totalCartQty = 0
                let totalPrice = 0

                $.each($('.qty'), function (index,item){
                    totalCartQty +=  parseInt($(item).val())
                    let newItemsId = $(item).attr('id').slice(9)
                    let newItemPrice = $('#itemPrice-' + newItemsId).val();

                    totalPrice += (parseInt($(item).val()) * newItemPrice)

                });

                $('#cartCount').text(totalCartQty)
                $('#grandTotal').text(totalPrice + ' RON')

            })
            $('.deleteCartItem').click(function(){
                let itemId = $(this).attr('id').slice(15)

                $.ajax({
                    url: "{{ url('cart_delete_product') }}"  + '/' + itemId,
                    type: "post",
                })

                $('#quantity-' + itemId).val(0)
                // console.log($('#quantity-' + itemId).val())
                let totalCartQty = 0
                let totalPrice = 0

                $.each($('.qty'), function (index,item){
                    totalCartQty +=  parseInt($(item).val())
                    let newItemsId = $(item).attr('id').slice(9)
                    let newItemPrice = $('#itemPrice-' + newItemsId).val();

                    totalPrice += (parseInt($(item).val()) * newItemPrice)
                });

                console.log(totalCartQty)
                $('#cartCount').text(totalCartQty)
                $('#grandTotal').text(totalPrice + ' RON')

                $('#'+ itemId).addClass("d-none");
            })
        })
    </script>
{% endblock %}
